<!DOCTYPE html>
<html>
  <%- include("../default/header"); %>
  <body>
    <div class="card">
      <h5 class="card-header info-color white-text text-center py-4">
        <strong>Update Account</strong>
      </h5>
      <div class="card-body px-lg-5 pt-0">
        <form
          id="nickname-change-form"
          class="text-center"
          style="color: #757575;"
          action="/auth/change-nickname"
          method="POST"
        >
          <div class="md-form">
            <input
              type="text"
              id="user_nickname"
              class="form-control"
              required
            />
            <label for="user_nickname">Nickname to replace</label>
          </div>
          <div class="md-form">
            <input type="email" id="user_id" class="form-control" required />
            <label for="user_id">E-mail</label>
          </div>
          <div class="md-form">
            <input
              type="password"
              id="user_pwd"
              class="form-control"
              required
            />
            <label for="user_pwd">Password</label>
          </div>

          <input
            id="update"
            class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
            type="button"
            value="UPDATE"
          />
        </form>
      </div>
    </div>
    <%- include("../default/footer"); %>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#update").click(function () {
          var action = $("#nickname-change-form").attr("action");
          var form_data = {
            user_nickname: $("#user_nickname").val(),
            user_id: $("#user_id").val(),
            user_pwd: $("#user_pwd").val(),
          };
          $.ajax({
            type: "PUT",
            url: action,
            data: form_data,
            success: function (response) {
              opener.location.reload();
              window.close();
            },
            error: function (request, status, error) {
              console.log(request);
              alert(request.responseText);
            },
          });
          return false;
        });
      });
    </script>
  </body>
</html>
