<!DOCTYPE html>
<html>
  <%- include("../default/header"); %>
  <body>
    <label id="isRun" hidden>false</label>
    <!-- Default form register -->
    <form
      id="register-form"
      class="text-center border border-light p-5"
      action="/auth/register"
      method="POST"
    >
      <p class="h4 mb-4">Sign up</p>
      <!-- nickname -->
      <input
        type="text"
        id="user_nickname"
        class="form-control mb-4"
        placeholder="Nickname"
        required
      />

      <input
        type="email"
        id="user_id"
        class="form-control mb-4"
        placeholder="E-mail"
        aria-describedby="verify-email-check"
        required
      />
      <div id="verify-email-check" class="form-text text-muted mb-4">
        <button
          id="verify-email"
          type="button"
          class="btn btn-info my-4 btn-block"
        >
          Send Email Authentication Number
        </button>
      </div>

      <!-- Password -->
      <input
        type="password"
        id="user_pwd"
        class="form-control"
        placeholder="Password"
        aria-describedby="defaultRegisterFormPasswordHelpBlock"
        required
      />
      <small
        id="defaultRegisterFormPasswordHelpBlock"
        class="form-text text-muted mb-4"
      >
        영문, 숫자를 포함하는 6자리 이상 16자리 이하 비밀번호
      </small>

      <!-- Sign up button -->
      <input
        id="register"
        class="btn btn-info my-4 btn-block"
        type="button"
        value="Sign in"
      />
      <!--
      <p>
        By clicking <em>Sign up</em> you agree to our
        <a href="" target="_blank">terms of service</a>
      </p>
      -->
    </form>
    <%- include("../default/footer"); %>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#register").click(function () {
          if (!$("#certNum").val()) {
            alert("이메일 인증을 먼저 진행해 주세요!");
            return false;
          }
          const pattern = /^[A-Za-z0-9]{6,16}$/;
          const pwd = $("#user_pwd").val();
          if (!pattern.test(pwd)) {
            alert("비밀번호가 형식에 맞지 않습니다.");
            return false;
          }

          var action = $("#register-form").attr("action");

          const form_data = {
            user_nickname: $("#user_nickname").val(),
            user_id: $("#user_id").val(),
            certNumber: $("#certNum").val(),
            user_pwd: $("#user_pwd").val(),
          };

          $.ajax({
            type: "POST",
            url: action,
            data: form_data,
            success: function (response) {
              if (response == "success") {
                alert("가입에 성공하였습니다.");
                opener.location.reload();
                window.close();
              } else {
                alert(response);
              }
            },
            error: function (request, status, error) {
              console.log(request);
              alert(request.responseText);
            },
          });
          return false;
        });

        $("#verify-email").click(function () {
          const address = $("#user_id").val();
          if (!address) {
            alert("이메일을 먼저 입력해주세요!");
            return false;
          }
          const form_data = { email: address };
          console.log(form_data);
          const changeHTML = () => {
            alert("메일이 발송되었습니다.\n5분 이내로 입력해주세요");
            var doc =
              '<input type="text" id="certNum"' +
              ' class="form-control mb-4"' +
              ' placeholder="Authentication Number"' +
              " required />";

            document.getElementById("isRun").innerText = "true";
            document.getElementById("verify-email-check").innerHTML = doc;
          };

          $.ajax({
            type: "POST",
            url: "/auth/emailChk",
            data: form_data,
            success: changeHTML,
            error: function (request, status, error) {
              console.log(request);
              alert(request.responseText);
            },
          });
          return false;
        });
      });
    </script>
  </body>
</html>
