<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="/">
    Whale Wiki
  </a>

  <!-- Collapse button -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#basicExampleNav"
    aria-controls="basicExampleNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/random">Random</a>
      </li>
    </ul>
    <!-- Links -->

    <form class="form-inline my-2 my-lg-0 ml-auto" action="/w/" method="GET">
      <input
        class="form-control"
        type="search"
        name="q"
        placeholder="Search"
        aria-label="Search"
        required
      />
      <button
        class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3"
        type="submit"
      >
        Search
      </button>
    </form>
    <% if (!nickname) { %>
    <button
      type="button"
      class="btn btn-indigo btn-md my-2 my-sm-0 ml-3"
      href="#"
      onclick="window.open('/auth/login',
      '고래위키에 로그인',
      'toolbar=no,location=no,status=no,menubar=no,scrollbars=auto,resizable=no,directories=no,width=500,height=500' )"
    >
      Login
    </button>
    <% } else { %>
    <div class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdownMenuLink-333"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <i class="fas fa-user"></i>
      </a>
      <div
        class="dropdown-menu dropdown-menu-right dropdown-default"
        aria-labelledby="navbarDropdownMenuLink-333"
      >
        <button class="dropdown-item">
          <%= nickname %> - Level: <%= accLevel %>
        </button>
        <button id="logout" class="dropdown-item">log out</button>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
        $("#logout").click(function () {
          $.ajax({
            type: "GET",
            url: "/auth/logout",
            success: function (response) {
              location.reload();
              alert("로그아웃 되었습니다.");
            },
          });
          return false;
        });
      });
    </script>
    <% } %>
  </div>
  <!-- Collapsible content -->
</nav>
<!--/.Navbar-->
