<!DOCTYPE html>
<html>
  <%- include("default/header"); %>
  <body>
    <%- include("default/nav"); %>
    <div class="jumbotron">
      <h2 class="display-4"> <%= title %> </h2>
      <p class="lead">Wiki에 오신것을 환영합니다!</p>
      <hr class="my-4">
      <p>나무위키를 대체하기를 꿈꾸는 위키</p>
      <p>마음대로 작성하고 수정하세요!</p>
      <!-- <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
    </div>
    <%- include("default/footer"); %>
  </body>
</html>
