<!DOCTYPE html>
<html>
<%- include("default/header"); %>

<body>
  <%- include("default/nav"); %>
  <div class="jumbotron text-center">
    <h2 class="display-4"><%= title %></h2>
    <p class="lead">고래위키에 오신것을 환영합니다!</p>
    <hr class="my-4" />
    <!-- Card image -->
    <img src="/images/whale.png" class="img-fluid" alt="" />
    <p>마음대로 작성하고 수정하세요!</p>
    <p>개발자는 <s>취소선</s>을 싫어합니다</s></p>
    <a class="btn btn-outline-primary waves-effect" href="/w/!명령어" role="button">!명령어</a>
    <a class="btn btn-outline-primary waves-effect" href="/w/Markdown" role="button">문서 작성 방법</a>
    <a class="btn btn-outline-primary waves-effect" href="/w/문서작성등급제" role="button">문서 작성 등급제란?</a>
  </div>
  <%- include("default/footer"); %>
</body>

</html>